---
const { data = [] } = Astro.props

const isActive = (path) => Astro.url.pathname === path
const linkClass = (path) => isActive(path)
    ? "flex bg-amber/35 dark:text-white pointer-events-none color-black border-rd p-3"
    : "flex bg-black/85 hover:bg-amber hover:color-black border-rd p-3"
---
<div class="burger">
    <div id="burgerMenu" class="burger-wrap">
        <div class="burger-aside">
            <nav class="w-full flex flex-col gap-2 color-white text-xl border-rd list-none">
                { data.map((page) =>
                        <li class={ isActive(page.link) ? 'active' : ''}>
                            <a href={page.link} class={linkClass(page.link)}>
                                {page.name}
                            </a>
                        </li>
                )}
            </nav>
        </div>
    </div>
    <button id="burgerBtn" type="button" class="burger-btn flex bg-black/85 hover:bg-amber hover:color-black text-white border-rd p-3">
        <svg class="burger-icon-open" width="24" height="24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g><path d="M432,176H80c-8.8,0-16-7.2-16-16l0,0c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16l0,0C448,168.8,440.8,176,432,176z"></path><path d="M432,272H80c-8.8,0-16-7.2-16-16l0,0c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16l0,0C448,264.8,440.8,272,432,272z"></path><path d="M432,368H80c-8.8,0-16-7.2-16-16l0,0c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16l0,0C448,360.8,440.8,368,432,368z"></path></g></svg>
        <svg class="burger-icon-close" width="24" height="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><path d="M289.94 256l95-95A24 24 0 0 0 351 127l-95 95l-95-95a24 24 0 0 0-34 34l95 95l-95 95a24 24 0 1 0 34 34l95-95l95 95a24 24 0 0 0 34-34z" fill="currentColor"></path></svg>
    </button>
</div>
<nav class="hidden lg:flex gap-2 color-white text-xl border-rd list-none">
    { data.map((page) =>
            <li class={ isActive(page.link) ? 'active' : ''}>
                <a href={page.link} class={linkClass(page.link)}>
                    {page.name}
                </a>
            </li>
    )}
</nav>


<script lang="ts">
    const burger = document.getElementById('burgerBtn')
    const menu = document.getElementById('burgerMenu')

    burger.addEventListener('click', function () {
        menu.classList.toggle('active')
        burger.classList.toggle('active')
        const hasActive = menu.classList.contains('active')

        if (!hasActive) {
            menu.style.display = 'none'

            menu.animate({ opacity: 0 }, {
                duration: 300,
                fill: 'forwards'
            })
        } else {
            menu.style.display = 'flex'

            menu.animate({ opacity: 1 }, {
                duration: 300,
                fill: 'forwards'
            })
        }
    })
</script>

<style lang="postcss">
    .burger {
        @apply flex fixed top-3 right-2 justify-end items-start lg:hidden z-10;

        &-wrap {
            @apply hidden justify-end w-full h-full bg-dark/50 opacity-0;
        }

        &-aside {
            @apply flex flex-col py-5 px-3 flex w-full h-full max-w-[240px] bg-dark gap-5;
        }

        &-btn {
            .burger-icon-close {
                display: none;
            }

            .burger-icon-open {
                display: block;
            }

            &.active .burger-icon-close {
                display: block;
            }
            &.active .burger-icon-open {
                display: none;
            }
        }
    }
</style>